.header{
	background: black;
	margin: 5px 5px 5px 5px;
	padding: 5px 5px 1px 20px;
}

.logo-container{
	color:white;
	padding: 5px;
	
}

.navigation{
    float: right;
    height: 100%;
}
 
.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 20px 20px;
    background-color: #101010;
}
 
.navigation a li{
    vertical-align: middle;
    display: table-cell;
    font-size: 20px;
    color: white;
}
 
.navigation a:hover{
    background-color: green;
    color: white;
}